[Desktop Entry]
Name=Ailurus - Fastest repository
Comment=makes Linux easier to use
Exec=/usr/bin/ailurus --fast --fastest-repository
Icon=/usr/share/ailurus/data/velly_icons/m_fastest_repos.png
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=Ailurus;
