[Desktop Entry]
Name=Ailurus - APT recovery
Comment=makes Linux easier to use
Exec=/usr/bin/ailurus --fast --apt-recovery
Icon=/usr/share/ailurus/data/suyun_icons/shortcut.png
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=System;
