[Desktop Entry]
Name=Ailurus - System setting
Comment=makes Linux easier to use
Exec=/usr/bin/ailurus --fast --system-setting
Icon=/usr/share/ailurus/data/suyun_icons/shortcut.png
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=System;
