[Desktop Entry]
Name=Ailurus - Information
Comment=makes Linux easier to use
Exec=/usr/bin/ailurus --fast --information
Icon=/usr/share/ailurus/data/velly_icons/m_hardware_info.png
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=Ailurus;
