[Desktop Entry]
Name=Ailurus
Name[bg]=Ailurus
Name[da]=Ailurus
Name[de]=Ailurus
Name[en_GB]=Ailurus
Name[es]=Ailurus
Name[fr]=Ailurus
Name[it]=Ailurus
Name[ko]=Ailurus
Name[pt]=Ailurus
Name[pt_BR]=Ailurus
Name[ru]=Ailurus
Name[zh_CN]=Ailurus
Name[zh_TW]=Ailurus
Comment=makes Linux easier to use
Exec=/usr/bin/ailurus
Icon=ailurus
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=System;
