[Desktop Entry]
Name=Ailurus
Comment=a simple application installer and GNOME tweaker
Exec=ailurus
Icon=ailurus
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=System;
