[Desktop Entry]
Name=Ailurus
Comment=makes Linux easier to use
Exec=ailurus
Icon=ailurus
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=System;
